:root {
  --primary: #6439ff;
  --secondary: #9b80ff;
  --line: 1px solid #9c80ff49;

  --urgent: #f0440a;
  --important: palevioletred;
  --normal: var(--primary);
  --low: var(--secondary);

  font-size: 62.5%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
  color: inherit;
  text-align: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  background-color: inherit;
  border: none;
  transition: transform 200ms;
  -webkit-transition: transform 200ms;
  -moz-transition: transform 200ms;
  -ms-transition: transform 200ms;
  -o-transition: transform 200ms;
}

button:has(.ti):hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

button:has(.ti + span):hover {
  transform: scale(1.1) translateX(35px);
  -webkit-transform: scale(1.1) translateX(35px);
  -moz-transform: scale(1.1) translateX(35px);
  -ms-transform: scale(1.1) translateX(35px);
  -o-transform: scale(1.1) translateX(35px);
}

dialog[open] {
  position: fixed;
  top: 0;

  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  width: 100vw;
  height: 100vh;

  display: grid;
  place-content: center;
  z-index: 1;
}

dialog form {
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

form h1 {
  font-size: 2.2rem;
}

form > input {
  border: none;
  color: var(--primary);
  font-size: 2rem;
}

form textarea {
  border: none;
  color: var(--secondary);
  font: inherit;
  font-size: inherit;
}

form div {
  text-align: left;
  color: var(--secondary);
}

form div :is(input, select) {
  color: var(--secondary);
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.buttons button {
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  font-weight: bold;
  color: white;
}

.buttons button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.cancel {
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

.delete {
  border: 1px solid var(--urgent);
  background-color: var(--urgent);
}

.edit,
.add {
  border: 1px solid #00b300;
  background-color: #00b300;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--secondary);
}

.aside {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
}

.aside .heading {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
}

h1,
.project-title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.aside ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 2rem;
  font-weight: bold;
}

.aside ul li {
  display: flex;
  align-items: start;
  position: relative;
  transition: transform 200ms;
  -webkit-transition: transform 200ms;
  -moz-transition: transform 200ms;
  -ms-transition: transform 200ms;
  -o-transition: transform 200ms;
}

.aside ul li::before {
  content: "\eff2";
  font-size: 20px;
  margin-right: 5px;
  font-weight: normal;
  font-family: tabler-icons;
}

.aside ul li:hover {
  transform: scale(1.1) translateX(10px);
  -webkit-transform: scale(1.1) translateX(10px);
  -moz-transform: scale(1.1) translateX(10px);
  -ms-transform: scale(1.1) translateX(10px);
  -o-transform: scale(1.1) translateX(10px);
}

.main {
  padding: 30px 50px;
  color: var(--primary);
}

.project-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.project-title h1 {
  margin: 0;
}

.project-title button {
  display: none;
}

.project-title:hover button {
  display: block;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-to-do {
  color: var(--secondary);
  font-size: 1.8rem;
  display: flex;
  gap: 3px;
}

.add-to-do:hover {
  color: var(--primary);
}

.icon {
  display: none;
}

.title-with-icon:hover .icon {
  display: block;
}

.checklist-number-and-priority,
.checklist-number,
.priority,
.due-date {
  display: flex;
  align-items: center;
  gap: 2px;
}

.checklist-number-and-priority {
  gap: 5px;
}

.priority.urgent {
  color: var(--urgent);
}
.priority.important {
  color: var(--important);
}
.priority.normal {
  color: var(--normal);
}
.priority.low {
  color: var(--low);
}

.title-with-icon {
  display: flex;
  justify-content: space-between;
}

.todo > .title-with-icon {
  font-size: 1.8rem;
}

.todo .title input[type="checkbox"] {
  accent-color: var(--secondary);
  margin-right: 1ch;
}

.description {
  color: var(--secondary);
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom: var(--line);
}

.checklists {
  list-style: none;
  padding-left: 0;
  margin-left: 20px;
  margin-top: 5px;
}

.checklists li {
  --ptb: 5px;

  border-bottom: var(--line);
  padding-top: var(--ptb);
  padding-bottom: var(--ptb);
}

.checklists input[type="checkbox"] {
  margin-right: 1ch;
}
